# <font color='Blue'>An√°lise de Dados com Linguagem Python</font>

## <font color='blue'>Projeto Sienge Arqos</font>

In [2]:
# Imports
import math
import sys, os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import watermark 
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
sys.path.append(os.path.abspath(os.path.join('Modulos')))
from estrategia1 import *
from estrategia2 import *
from estrategia3 import *

In [4]:
!pip install -q xlrd

In [5]:
#!pip install -q unidecode
!pip install -q dash-bootstrap-components

## Carregando os Dados

In [35]:
# Importando Arquivo e carregando dados
df = pd.read_csv("dados/df_agrupado.csv")

In [37]:
from unidecode import unidecode

df.columns = [unidecode(col).replace(" ", "_") for col in df.columns]

ModuleNotFoundError: No module named 'unidecode'

In [39]:
df.shape

(14, 3)

In [45]:
df.head(50)

,Gestor_Responsavel,Valor_final_negociado_formatado,Valor_final_Inicial_de_Cotacao_formatado
0,Ana Paula Minomo,"7,273,863.00","3,949,545.00"
1,Bruno Tucci,"1,246,434.00","337,535.00"
2,Eduardo Simas (Shared),"3,201,890.00","801,314.00"
3,Felipe Chukr,"470,782.00","9,716.00"
4,Gustavo Nascimento,"21,213,104.64","430,570.32"
5,Karen Alves,"1,274,303.00","487,609.00"
6,Katia S.,"936,444.00",0.00
7,Liliane Silva,"3,952.80","3,952.80"
8,Rafael Suda,"122,614,004.97","29,115,518.00"
9,Rayssa Olberg,"1,099,061.00","3,529.00"
10,Renata Vieira,"13,070,701.37","7,494,215.37"
11,Tiago Souza,"1,043,374.20","1,043,374.20"
12,Victoria Herendy,"7,158,717.22","4,920,649.00"
13,Werle Silva,"23,467,351.34","21,283,271.18"

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Gestor_Responsavel                        14 non-null     object
 1   Valor_final_negociado_formatado           14 non-null     object
 2   Valor_final_Inicial_de_Cotacao_formatado  14 non-null     object
dtypes: object(3)
memory usage: 464.0+ bytes

In [47]:
# We have null values ? nos temos valores ausentes no data . verdadeiro ou falso para valores ausentes 
df.isna().any()

Gestor_Responsavel                          False
Valor_final_negociado_formatado             False
Valor_final_Inicial_de_Cotacao_formatado    False
dtype: bool

In [49]:
# Sum null values " soma valores ausentes' 
df.isna().sum()

Gestor_Responsavel                          0
Valor_final_negociado_formatado             0
Valor_final_Inicial_de_Cotacao_formatado    0
dtype: int64

### Columns the Drop

> Iremos remover a coluna ID , Observa√ß√£o gestor , Detalhes para aprova√ß√£o ,Link do documento,Id 
 > Segundo a dona dos dados tais informa√ß√µes n√£o s√£o relevantes Resp: Liliane Amanda!

In [ ]:
# Iremos remover a coluna ID pois se trata de um identifica√ß√£o pouco importante 
  # Drop deleta coluna "CUSTOMER-ID" axis eixo 1 inplace = a imputar excluc√£o no date set!  
# Remover as colunas corretamente com os nomes ajustados
df.drop(["Observacao_Gestor", "Detalhes_para_aprovacao:", "Link_dos_documentos_da_negociacao", "ID"], axis=1, inplace=True)

In [ ]:
# Sum null values " soma valores ausentes' 
df.isna().sum()

### Tratando Variavel Numero Sienge

In [ ]:
print(df.columns)

In [ ]:
df.Numero_SIENGE.isnull().sum()

In [ ]:
df.Numero_SIENGE.isnull().mean()*100

In [ ]:
# Substitui valores NaN por 0 para evitar erro ao converter para int
df["Numero_SIENGE"] = df["Numero_SIENGE"].fillna(0)

# Converte a coluna para inteiro (removendo decimais)
df["Numero_SIENGE"] = df["Numero_SIENGE"].astype(int)

# Converte a coluna para string
df["Numero_SIENGE"] = df["Numero_SIENGE"].astype(str)

# Exibe as primeiras 40 linhas da coluna
#print(df["Numero_SIENGE"].head(40))

In [ ]:
# Porcentagem de valores ausentes na coluna Numero sienge valores foram subistiuidos por 0
df.Numero_SIENGE.isnull().mean()*100

In [ ]:
df.head()

In [ ]:
df['Gestor_Responsavel'].value_counts().head(50)

In [ ]:
df_gestores = df['Gestor_Responsavel'].value_counts().reset_index()
df_gestores.columns = ['Gestor_Responsavel', 'Quantidade']

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# Criar DataFrame com contagem dos gestores
df_gestores = df['Gestor_Responsavel'].value_counts().reset_index()
df_gestores.columns = ['Gestor_Responsavel', 'Quantidade']

# Gerar uma lista de cores para cada barra
colors = plt.cm.get_cmap("tab20", len(df_gestores))  # Usando uma paleta de 20 cores

# Criar gr√°fico de barras
plt.figure(figsize=(12, 6))
bars = plt.bar(df_gestores['Gestor_Responsavel'], df_gestores['Quantidade'], color=colors(range(len(df_gestores))))

# Adicionar linha da mediana
plt.axhline(y=mediana, color='red', linestyle='--', label=f'Mediana: {mediana}')


# Ajustar r√≥tulos
plt.xticks(rotation=45, ha='right')
plt.ylabel('Frequ√™ncia')
plt.title('Quantidade de Ocorr√™ncias por Gestor Respons√°vel')

# Adicionar legenda
plt.legend()

# Mostrar gr√°fico
plt.show()

In [ ]:
df_copia = df.copy()

In [ ]:
# Primeiro, garantir que as colunas de valores estejam no formato num√©rico
df['Valor_final_negociado'] = pd.to_numeric(df['Valor_final_negociado'], errors='coerce')
df['Valor_final_Inicial_de_Cotacao'] = pd.to_numeric(df['Valor_Inicial_de_Cotacao'], errors='coerce')

# Agrupar pelos gestores e somar os valores
df_agrupado = df.groupby('Gestor_Responsavel')[['Valor_final_Inicial_de_Cotacao', 'Valor_final_negociado']].sum().reset_index()

# Se necess√°rio, reformatar as colunas ap√≥s o agrupamento
df_agrupado['Valor_final_negociado_formatado'] = df_agrupado['Valor_final_negociado'].apply(lambda x: f'{x:,.2f}')
df_agrupado['Valor_final_Inicial_de_Cotacao_formatado'] = df_agrupado['Valor_final_Inicial_de_Cotacao'].apply(lambda x: f'{x:,.2f}')

# Remover as colunas originais sem formata√ß√£o
df_agrupado.drop(columns=['Valor_final_negociado', 'Valor_final_Inicial_de_Cotacao'], inplace=True)

### Gerando Grafico de Linhas Para analizar!

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# Ordenar os dados para o gr√°fico (voc√™ pode escolher a ordem desejada)
df_agrupado_sorted = df_agrupado.sort_values(by='Valor_final_negociado_formatado')

# Definir largura das barras
bar_width = 0.35

# Definir a posi√ß√£o das barras
index = np.arange(len(df_agrupado_sorted))

# Criar o gr√°fico de barras agrupadas
plt.figure(figsize=(12, 6))
plt.bar(index, df_agrupado_sorted['Valor_final_negociado_formatado'], bar_width, label='Valor Final Negociado', color='b')
plt.bar(index + bar_width, df_agrupado_sorted['Valor_final_Inicial_de_Cotacao_formatado'], bar_width, label='Valor Final Cota√ß√£o Inicial', color='g')

# Adicionar t√≠tulo e r√≥tulos
plt.title('Compara√ß√£o entre Valor Final Negociado e Valor Final Cota√ß√£o Inicial por Gestor')
plt.xlabel('Gestor Respons√°vel')
plt.ylabel('Valor (R$)')
plt.xticks(index + bar_width / 2, df_agrupado_sorted['Gestor_Responsavel'], rotation=90)
plt.legend()

# Exibir o gr√°fico
plt.tight_layout()
plt.show()

In [ ]:
print(df_agrupado_sorted[['Proficiencia', 'Diferen√ßa']].isna().sum())

In [ ]:

#df_agrupado.to_csv('E:/ProgramacaoPhyton/DataScience02\DashSiengeAqs/dados/df_agrupado.csv', index=False)